.App {
  text-align: center;
  padding: 1rem;
  color: white;
  min-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 0.5rem;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff00ae;
}

.small {
  font-size: 0.75rem;
}

.search, .Track-list {
  background-color: rgba(0, 16, 80, 0.65);
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
.Track-list {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0.5rem;
}

.Track-body {
  margin: none;
  border-left: none;
  border-right: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.Track-body:hover {
  background-color: rgba(0, 16, 80, 0.65);

}
.class-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 16, 80, 0.65);
}